.popup {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
}

.box {
  display: flex;
  width: 230px;
  height: 30vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 27vh;
  border-radius: 8px;
  padding: 20px;
}

.box-fail {
  background-color: #f8dcdc;
}

.box-win {
  background-color: #ffe69b;
}

.text {
  text-align: center;
}

.fail-subtitle {
  color: #cc0000;
}

.win-title {
  font-size: 20px;
  color: #4430c5;
}

.win-subtitle {
  color: #6756d4;
}

.popup-button {
  height: 5vh;
  width: 40%;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
}

.button-fail {
  background-color: #ff6666;
}

.button-win {
  background-color: #59e391;
}

.popup-button:hover {
  background-color: #59e391;
}

.button-win:hover {
  background-color: #9ddbb6;
  border: 2px solid #59e391;
}

.popup-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
