* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  font-family: 'Karla', sans-serif;
}

main,
.introPage {
  background-color: #F5F5F5;
  height: 400px;
  max-width: 800px;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.app-logo {
  margin-bottom: 20px;
}

.introPage--tittle {
  margin-bottom: 0px;
  margin-top: 20px;
  font-size: 22px;
}

.introPage--instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 20px;
  background-color: pink;
}

.score-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 30px;
  background-color: pink;
  margin-bottom: 40px;
}

.time,
.rolls {
  margin: 0px;
}

.roll-dice--button,
.introPage--button {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}

.roll-dice--button:focus {
  outline: none;
}

.roll-dice--button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}